In [1]:
import numpy
import pandas

In [67]:
output_template = "possible_armies_IPC_30_r{}x{}.txt"

In [9]:
def recurse_build_by_count(total_count, current_entry, all_entry_set):
    if sum(current_entry) == total_count:
        all_entry_set.add(tuple(current_entry))
    else:
        for i in range(len(current_entry)):
            new_entry = list(current_entry)
            new_entry[i] += 1
            
            recurse_build_by_count(total_count, new_entry, all_entry_set)
            
ae_set = set()
recurse_build_by_count(4, [0,0,0], ae_set)
ae_list = sorted(ae_set)
print(len(ae_list))
print(ae_list)

15
[(0, 0, 4), (0, 1, 3), (0, 2, 2), (0, 3, 1), (0, 4, 0), (1, 0, 3), (1, 1, 2), (1, 2, 1), (1, 3, 0), (2, 0, 2), (2, 1, 1), (2, 2, 0), (3, 0, 1), (3, 1, 0), (4, 0, 0)]

In [17]:
def recurse_build_by_IPC(IPC_cost_arr, total_IPC, current_entry, all_entry_set):
    entry_cost = sum(IPC_cost_arr * current_entry)
    
    for i,cost  in enumerate(IPC_cost_arr):
        if entry_cost + cost > total_IPC:
            all_entry_set.add(tuple(current_entry))
        else:
            new_entry = numpy.array(current_entry)
            new_entry[i] += 1
            recurse_build_by_IPC(IPC_cost_arr, total_IPC, new_entry, all_entry_set)
        
    

IPC_cost_arr = numpy.array([3,4,6,10,12])
init_entry = numpy.zeros(IPC_cost_arr.shape[0])
ae_set = set()
recurse_build_by_IPC(IPC_cost_arr, 30, init_entry, ae_set)
ae_list = sorted(ae_set)
print(len(ae_list))
ae_list

173

[(0.0, 0.0, 0.0, 0.0, 2.0),
 (0.0, 0.0, 0.0, 1.0, 1.0),
 (0.0, 0.0, 0.0, 2.0, 0.0),
 (0.0, 0.0, 0.0, 3.0, 0.0),
 (0.0, 0.0, 1.0, 0.0, 2.0),
 (0.0, 0.0, 1.0, 1.0, 1.0),
 (0.0, 0.0, 1.0, 2.0, 0.0),
 (0.0, 0.0, 2.0, 0.0, 1.0),
 (0.0, 0.0, 2.0, 1.0, 0.0),
 (0.0, 0.0, 3.0, 0.0, 1.0),
 (0.0, 0.0, 3.0, 1.0, 0.0),
 (0.0, 0.0, 4.0, 0.0, 0.0),
 (0.0, 0.0, 5.0, 0.0, 0.0),
 (0.0, 1.0, 0.0, 0.0, 2.0),
 (0.0, 1.0, 0.0, 1.0, 1.0),
 (0.0, 1.0, 0.0, 2.0, 0.0),
 (0.0, 1.0, 1.0, 0.0, 1.0),
 (0.0, 1.0, 1.0, 1.0, 0.0),
 (0.0, 1.0, 1.0, 2.0, 0.0),
 (0.0, 1.0, 2.0, 0.0, 1.0),
 (0.0, 1.0, 2.0, 1.0, 0.0),
 (0.0, 1.0, 3.0, 0.0, 0.0),
 (0.0, 1.0, 4.0, 0.0, 0.0),
 (0.0, 2.0, 0.0, 0.0, 1.0),
 (0.0, 2.0, 0.0, 1.0, 1.0),
 (0.0, 2.0, 0.0, 2.0, 0.0),
 (0.0, 2.0, 1.0, 0.0, 1.0),
 (0.0, 2.0, 1.0, 1.0, 0.0),
 (0.0, 2.0, 2.0, 0.0, 0.0),
 (0.0, 2.0, 2.0, 1.0, 0.0),
 (0.0, 2.0, 3.0, 0.0, 0.0),
 (0.0, 3.0, 0.0, 0.0, 1.0),
 (0.0, 3.0, 0.0, 1.0, 0.0),
 (0.0, 3.0, 1.0, 0.0, 1.0),
 (0.0, 3.0, 1.0, 1.0, 0.0),
 (0.0, 3.0, 2.0, 0.0, 0.0),
 (0.0, 3.0, 3.0, 0.0, 0.0),
 (0.0, 4.0, 0.0, 0.0, 1.0),
 (0.0, 4.0, 0.0, 1.0, 0.0),
 (0.0, 4.0, 1.0, 0.0, 0.0),
 (0.0, 4.0, 2.0, 0.0, 0.0),
 (0.0, 5.0, 0.0, 0.0, 0.0),
 (0.0, 5.0, 0.0, 1.0, 0.0),
 (0.0, 5.0, 1.0, 0.0, 0.0),
 (0.0, 6.0, 0.0, 0.0, 0.0),
 (0.0, 6.0, 1.0, 0.0, 0.0),
 (0.0, 7.0, 0.0, 0.0, 0.0),
 (1.0, 0.0, 0.0, 0.0, 2.0),
 (1.0, 0.0, 0.0, 1.0, 1.0),
 (1.0, 0.0, 0.0, 2.0, 0.0),
 (1.0, 0.0, 1.0, 0.0, 1.0),
 (1.0, 0.0, 1.0, 1.0, 0.0),
 (1.0, 0.0, 1.0, 2.0, 0.0),
 (1.0, 0.0, 2.0, 0.0, 1.0),
 (1.0, 0.0, 2.0, 1.0, 0.0),
 (1.0, 0.0, 3.0, 0.0, 0.0),
 (1.0, 0.0, 4.0, 0.0, 0.0),
 (1.0, 1.0, 0.0, 0.0, 1.0),
 (1.0, 1.0, 0.0, 1.0, 1.0),
 (1.0, 1.0, 0.0, 2.0, 0.0),
 (1.0, 1.0, 1.0, 0.0, 1.0),
 (1.0, 1.0, 1.0, 1.0, 0.0),
 (1.0, 1.0, 2.0, 0.0, 0.0),
 (1.0, 1.0, 2.0, 1.0, 0.0),
 (1.0, 1.0, 3.0, 0.0, 0.0),
 (1.0, 2.0, 0.0, 0.0, 1.0),
 (1.0, 2.0, 0.0, 1.0, 0.0),
 (1.0, 2.0, 1.0, 0.0, 1.0),
 (1.0, 2.0, 1.0, 1.0, 0.0),
 (1.0, 2.0, 2.0, 0.0, 0.0),
 (1.0, 2.0, 3.0, 0.0, 0.0),
 (1.0, 3.0, 0.0, 0.0, 1.0),
 (1.0, 3.0, 0.0, 1.0, 0.0),
 (1.0, 3.0, 1.0, 0.0, 0.0),
 (1.0, 3.0, 2.0, 0.0, 0.0),
 (1.0, 4.0, 0.0, 0.0, 0.0),
 (1.0, 4.0, 0.0, 1.0, 0.0),
 (1.0, 4.0, 1.0, 0.0, 0.0),
 (1.0, 5.0, 0.0, 0.0, 0.0),
 (1.0, 5.0, 1.0, 0.0, 0.0),
 (1.0, 6.0, 0.0, 0.0, 0.0),
 (2.0, 0.0, 0.0, 0.0, 2.0),
 (2.0, 0.0, 0.0, 1.0, 1.0),
 (2.0, 0.0, 0.0, 2.0, 0.0),
 (2.0, 0.0, 1.0, 0.0, 1.0),
 (2.0, 0.0, 1.0, 1.0, 0.0),
 (2.0, 0.0, 2.0, 0.0, 1.0),
 (2.0, 0.0, 2.0, 1.0, 0.0),
 (2.0, 0.0, 3.0, 0.0, 0.0),
 (2.0, 0.0, 4.0, 0.0, 0.0),
 (2.0, 1.0, 0.0, 0.0, 1.0),
 (2.0, 1.0, 0.0, 1.0, 0.0),
 (2.0, 1.0, 0.0, 2.0, 0.0),
 (2.0, 1.0, 1.0, 0.0, 1.0),
 (2.0, 1.0, 1.0, 1.0, 0.0),
 (2.0, 1.0, 2.0, 0.0, 0.0),
 (2.0, 1.0, 3.0, 0.0, 0.0),
 (2.0, 2.0, 0.0, 0.0, 1.0),
 (2.0, 2.0, 0.0, 1.0, 0.0),
 (2.0, 2.0, 1.0, 0.0, 0.0),
 (2.0, 2.0, 1.0, 1.0, 0.0),
 (2.0, 2.0, 2.0, 0.0, 0.0),
 (2.0, 3.0, 0.0, 0.0, 1.0),
 (2.0, 3.0, 0.0, 1.0, 0.0),
 (2.0, 3.0, 1.0, 0.0, 0.0),
 (2.0, 3.0, 2.0, 0.0, 0.0),
 (2.0, 4.0, 0.0, 0.0, 0.0),
 (2.0, 4.0, 1.0, 0.0, 0.0),
 (2.0, 5.0, 0.0, 0.0, 0.0),
 (2.0, 6.0, 0.0, 0.0, 0.0),
 (3.0, 0.0, 0.0, 0.0, 1.0),
 (3.0, 0.0, 0.0, 1.0, 0.0),
 (3.0, 0.0, 0.0, 2.0, 0.0),
 (3.0, 0.0, 1.0, 0.0, 1.0),
 (3.0, 0.0, 1.0, 1.0, 0.0),
 (3.0, 0.0, 2.0, 0.0, 0.0),
 (3.0, 0.0, 3.0, 0.0, 0.0),
 (3.0, 1.0, 0.0, 0.0, 1.0),
 (3.0, 1.0, 0.0, 1.0, 0.0),
 (3.0, 1.0, 1.0, 0.0, 0.0),
 (3.0, 1.0, 1.0, 1.0, 0.0),
 (3.0, 1.0, 2.0, 0.0, 0.0),
 (3.0, 2.0, 0.0, 0.0, 1.0),
 (3.0, 2.0, 0.0, 1.0, 0.0),
 (3.0, 2.0, 1.0, 0.0, 0.0),
 (3.0, 2.0, 2.0, 0.0, 0.0),
 (3.0, 3.0, 0.0, 0.0, 0.0),
 (3.0, 3.0, 1.0, 0.0, 0.0),
 (3.0, 4.0, 0.0, 0.0, 0.0),
 (3.0, 5.0, 0.0, 0.0, 0.0),
 (4.0, 0.0, 0.0, 0.0, 1.0),
 (4.0, 0.0, 0.0, 1.0, 0.0),
 (4.0, 0.0, 1.0, 0.0, 1.0),
 (4.0, 0.0, 1.0, 1.0, 0.0),
 (4.0, 0.0, 2.0, 0.0, 0.0),
 (4.0, 0.0, 3.0, 0.0, 0.0),
 (4.0, 1.0, 0.0, 0.0, 1.0),
 (4.0, 1.0, 0.0, 1.0, 0.0),
 (4.0, 1.0, 1.0, 0.0, 0.0),
 (4.0, 1.0, 2.0, 0.0, 0.0),
 (4.0, 2.0, 0.0, 0.0, 0.0),
 (4.0, 2.0, 0.0, 1.0, 0.0),
 (4.0, 2.0, 1.0, 0.0, 0.0),
 (4.0, 3.0, 0.0, 0.0, 0.0),
 (4.0, 3.0, 1.0, 0.0, 0.0),
 (4.0, 4.0, 0.0, 0.0, 0.0),
 (5.0, 0.0, 0.0, 0.0, 1.0),
 (5.0, 0.0, 0.0, 1.0, 0.0),
 (5.0, 0.0, 1.0, 0.0, 0.0),
 (5.0, 0.0, 2.0, 0.0, 0.0),
 (5.0, 1.0, 0.0, 0.0, 0.0),
 (5.0, 1.0, 0.0, 1.0, 0.0),
 (5.0, 1.0, 1.0, 0.0, 0.0),
 (5.0, 2.0, 0.0, 0.0, 0.0),
 (5.0, 2.0, 1.0, 0.0, 0.0),
 (5.0, 3.0, 0.0, 0.0, 0.0),
 (6.0, 0.0, 0.0, 0.0, 1.0),
 (6.0, 0.0, 0.0, 1.0, 0.0),
 (6.0, 0.0, 1.0, 0.0, 0.0),
 (6.0, 0.0, 2.0, 0.0, 0.0),
 (6.0, 1.0, 0.0, 0.0, 0.0),
 (6.0, 1.0, 1.0, 0.0, 0.0),
 (6.0, 2.0, 0.0, 0.0, 0.0),
 (6.0, 3.0, 0.0, 0.0, 0.0),
 (7.0, 0.0, 0.0, 0.0, 0.0),
 (7.0, 0.0, 1.0, 0.0, 0.0),
 (7.0, 1.0, 0.0, 0.0, 0.0),
 (7.0, 2.0, 0.0, 0.0, 0.0),
 (8.0, 0.0, 0.0, 0.0, 0.0),
 (8.0, 0.0, 1.0, 0.0, 0.0),
 (8.0, 1.0, 0.0, 0.0, 0.0),
 (9.0, 0.0, 0.0, 0.0, 0.0),
 (10.0, 0.0, 0.0, 0.0, 0.0)]

In [41]:
t = numpy.array(ae_list)
# print(t)

army_df = pandas.DataFrame(t, columns=["inf", "art", "tank", "fight", "bomb"], dtype=int)
army_df["cost"] = (army_df * IPC_cost_arr).sum(axis=1)
army_df

     inf  art  tank  fight  bomb  cost
0      0    0     0      0     2    24
1      0    0     0      1     1    22
2      0    0     0      2     0    20
3      0    0     0      3     0    30
4      0    0     1      0     2    30
..   ...  ...   ...    ...   ...   ...
168    8    0     0      0     0    24
169    8    0     1      0     0    30
170    8    1     0      0     0    28
171    9    0     0      0     0    27
172   10    0     0      0     0    30

[173 rows x 6 columns]

In [65]:
t = army_df.loc[army_df.cost <= 27]
display(t)

remain_df = army_df.loc[army_df.cost > 27]
# display(remain.loc[remain.bomb == 2])

for ind in t.index:
#     print("############# {}".format(ind))
    row = t.loc[ind]
#     display(t.loc[[ind]])
    u = row.values[:-1] <= remain_df.iloc[:,:-1]
#     display(u)
    v = u.all(axis=1)
#     print(v)
#     display(remain_df.loc[v])
    
    if not any(v):
        print("did not find a better row for ind:  {}".format(ind))

     inf  art  tank  fight  bomb  cost
0      0    0     0      0     2    24
1      0    0     0      1     1    22
2      0    0     0      2     0    20
6      0    0     1      2     0    26
7      0    0     2      0     1    24
..   ...  ...   ...    ...   ...   ...
164    7    0     0      0     0    21
165    7    0     1      0     0    27
166    7    1     0      0     0    25
168    8    0     0      0     0    24
171    9    0     0      0     0    27

[107 rows x 6 columns]

In [66]:
remain_df

     inf  art  tank  fight  bomb  cost
3      0    0     0      3     0    30
4      0    0     1      0     2    30
5      0    0     1      1     1    28
9      0    0     3      0     1    30
10     0    0     3      1     0    28
..   ...  ...   ...    ...   ...   ...
163    6    3     0      0     0    30
167    7    2     0      0     0    29
169    8    0     1      0     0    30
170    8    1     0      0     0    28
172   10    0     0      0     0    30

[66 rows x 6 columns]

In [68]:
output_file = output_template.format(remain_df.shape[0], remain_df.shape[1])
output_file

'possible_armies_IPC_30_r66x6.txt'

In [69]:
remain_df.to_csv(output_file, sep="\t", index=False)